SQL prompts with splite3

In [2]:
import sqlite3

    1. Connect to the petsDB and check whether the connection has been successful.

In [3]:
conn = sqlite3.connect("petsdb")

In [4]:
def chk_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False
    
# a function that will
# return true if there is a connection
# or false if there is not.

In [5]:
print(chk_conn(conn))
# connected

True

In [6]:
conn.close()
print(chk_conn(conn))
# connection closed

False

    2. Find the different age groups in the persons database.

In [7]:
conn = sqlite3.connect("petsdb")
c = conn.cursor()

In [8]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("There are {} people aged {}.".format(ppl, age))
    
# a for loop that will get the counts
# of the age groups from the database.

There are 2 people aged 5.
There are 1 people aged 6.
There are 1 people aged 7.
There are 3 people aged 8.
There are 1 people aged 9.
There are 2 people aged 11.
There are 3 people aged 12.
There are 1 people aged 13.
There are 4 people aged 14.
There are 2 people aged 16.
There are 2 people aged 17.
There are 3 people aged 18.
There are 1 people aged 19.
There are 3 people aged 22.
There are 2 people aged 23.
There are 3 people aged 24.
There are 2 people aged 25.
There are 1 people aged 27.
There are 1 people aged 30.
There are 3 people aged 31.
There are 1 people aged 32.
There are 1 people aged 33.
There are 2 people aged 34.
There are 3 people aged 35.
There are 3 people aged 36.
There are 1 people aged 37.
There are 2 people aged 39.
There are 1 people aged 40.
There are 1 people aged 42.
There are 2 people aged 44.
There are 2 people aged 48.
There are 1 people aged 49.
There are 1 people aged 50.
There are 2 people aged 51.
There are 2 people aged 52.
There are 2 people aged 53.
There are 2 people aged 54.
There are 1 people aged 58.
There are 1 people aged 59.
There are 1 people aged 60.
There are 1 people aged 61.
There are 2 people aged 62.
There are 1 people aged 63.
There are 2 people aged 65.
There are 2 people aged 66.
There are 1 people aged 67.
There are 3 people aged 68.
There are 1 people aged 69.
There are 1 people aged 70.
There are 4 people aged 71.
There are 1 people aged 72.
There are 5 people aged 73.
There are 3 people aged 74.

    3. Find the age group with the maximum number of people.

In [9]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("The group with the highest count ({}) is age-group {}.".format(ppl,age))
    break
    
# breaking the for loop after the first
# run while ordering the query by 
# descending order will print just
# the highest value.

The group with the highest count (5) is age-group 73.

    4. Find the people who do not have a last name.

In [19]:
response = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in response:
    print(row)
    print("There are {} people without last names entered.".format(row[0]))
    
# printed the base response
# printed the response in a nicer
# format and stuck with that for 
# the rest of the queries.

(60,)
There are 60 people without last names entered.

    5. Find out how many people have more than one pet.

In [21]:
response = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in response:
    print("There are {} people with more than one pet.".format(row[0]))

There are 43 people with more than one pet.

    6. Find out how many pets have received treatment.

In [20]:
response = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in response:
    print("There are {} pets that have received treatment.".format(row[0]))

There are 36 pets that have received treatment.

    7. Find out how many pets have received treatment and the type of pet is known.

In [19]:
response = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in response:
    print("There are {} pets that have received treatment with the type of pet being known.".format(row[0]))

There are 16 pets that have received treatment with the type of pet being known.

    8. Find out how many pets are from the city called east port.

In [25]:
response = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in response:
    print("There are {} pets from East Port.".format(row[0]))

There are 49 pets from East Port.

    9. Find out how many pets are from the city called east port and received treatment.

In [27]:
response = c.execute("Select count(*) FROM pets JOIN persons on pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in response:
    print("There are {} pets from East Port that have received treatment.".format(row[0]))

There are 11 pets from East Port that have received treatment.